.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .home-options {
    flex: 1;
    margin-top: 40px;
    > div {
      width: 45%;
    }
  }
  .home-logout {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    > div {
      width: 40%;
    }
  }
}