.do-container {
  margin-top: 20px;
  > p {
    font-size: 14px;
  }
  .do-search {
    margin: 20px 0;
  }
  .do-result {
    background-color: var(--ripley-purpura);
    border-radius: 20px;
    border: 1px solid var(--ripley-purpura);
    padding: 20px;
    > p {
      display: flex;
      flex-direction: row;
      color: white;
      font-weight: 300 !important;
      > b {
        display: inherit;
        margin-left: 10px;
      }
      .do-result-status {
        color: wheat;
        font-weight: bold;
      }
    }
  }
}